.box-step {
    margin-top: 10px;
    a {

    }
}
.step_induction {
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background: #ececec;
    div {
        border-radius: 50%;
        height: 40px;
        background: #000;
    }
}
.step-menu {
    margin-top: -60px;
    a {
        display: block;
    }
}
.menu_induction .fa-stack {
    opacity: .5;
}
.menu_induction .fa-stack:hover {
    opacity: 1;
}
.content_induction {
    margin: 10px 0;
}
.content_induction .btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn-group + .btn-group {
    margin-left: 0;
    margin-bottom: 10px;
}
.ta-scroll-window > .ta-bind {
    border: 1px solid #eee;
}
.ta-scroll-window > .ta-bind:focus {
      border: 1px solid #aaa;
      outline: none;
}


#induction {
	
	.logo-wrap{
		margin-top:30px;	
		margin-bottom:73px;
	}
	
	h2.induction-title{
		font-size: 40px;
		font-weight: 900;
		font-family: 'Lato', sans-serif;
		letter-spacing: -1px;
		color: #3d3d3d;	
	}
	
    margin-top: 20px;
    .list-step {
        width: 240px;
        float: left;
        margin-top: 50px;
        /*position: fixed;*/
        .list-group-item {
            margin-bottom: 3px;
            background: #fff;
            height: 60px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-color: transparent;
            box-shadow:2px 2px 3px 1px #e1e1e1;
            padding: 5px;
			
            .step-number {
                font-size: 20px;
                position: absolute;
                text-align: center;
                line-height: 34px;
                color: #fff;
                width: 50px;
                height: 50px;
                padding: 7px;
                border-radius: 50%;
                background: #eff0ef;
                float: left;
                div {
                    border-radius: 50%;
                    height: 36px;
                    background: #9c9c9c;
                }
            }
            .step-title {
                height: 48px;
                overflow: hidden;
                width: 180px;
                padding-left: 60px;
                /*display: inline-block;*/
				display:table-cell;
				vertical-align:middle;
				line-height:16px;
				
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            &.current {
                z-index: 30;
				box-shadow:-4px 2px 2px 1px #e1e1e1;
				margin-right: -4px;
				
				
                .step-number {
                    background: #bbf5af;
                    div {
                        background: #2cad12;
                    }
                }
                .step-title {
                    color: #2cad12;
                }
				
            }
            &:hover {
            }
            &.disabled {
                cursor: not-allowed;
            }
            &:first-child {
                border-top-right-radius: 0;
            }
            &:last-child {
                border-bottom-right-radius: 0;
            }
        }
    }
    .step-content {
        /*background: #fff;*/
		background-image:url(../assets/img/induction/PageTop.png),url(../assets/img/induction/PageBot.png);
		background-repeat:no-repeat, no-repeat;
		background-size:100% 153px, 100% 94px;
		background-position:top center, bottom center;
        position: relative;
        z-index: 20;
        /*margin-left: 240px;*/
		margin-left:230px;
        /*border: 1px solid #ccc;*/
        padding: 20px 60px 60px 60px;
        min-height: 500px;
		
		&::after{
			content: " ";
			position: absolute;
			top: 153px;
			left: 0;
			bottom:94px;
			background-image: url(../assets/img/induction/page-MID-Tile.png);
			background-repeat: repeat-y;
			background-size: contain;
			background-position: top center;
			width: 100%;
			
		}
		
        .sec {
            padding: 15px 0;
        }
        .step-number {
            font-size: 24px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            width: 60px;
            height: 60px;
            /*    margin: 0 0 0 20px;*/
            padding: 10px;
            border-radius: 50%;
            background: #bbf5af;
            div {
                border-radius: 50%;
                height: 40px;
                background: #2cad12;
            }
        }
        h3 {
            margin: 0;
            padding: 5px 0;
        }
        .row {
			position:relative;
			z-index:25;
			
            .col {
                float: left;
                margin-right: 20px;
            }
        }
	
		
    } /*step-content*/
}

.col {
    float: left;
    overflow: hidden;
    padding-right: 10px;
    label {
        font-weight: normal;
    }
}
#sys-fixed-btns{
	z-index:100;
}

@media (max-width:992px){
	#induction{
		.list-step{
			width:60px;
			
			.list-group-item{
				 .step-title{
					display:none;	 
				 }
			}
		}
		
		.step-content{
			margin-left:54px;	
		}
	}
	#sys-fixed-btns{
		display:none;	
	}
}

@media(max-width:448px){
	.logo-wrap{
		max-width:448px;
		img{
			width:100%;	
		}
	}
	#induction{
		.step-content{
			padding:10px 10px 48px;	
		}
		
		.btn-respond{
			width:100%;
		}
	}
}