/* CSS Document */
@import url("core.css");

/* begin - profile bar */
.profile-bar{ 
	min-height:128px; 
	background-image:url(../img/core/white-glow-under-logo-bg.png); 
	background-repeat:no-repeat; 
	background-position:top left;
}
.logo{ 
	float:left;
	min-height: 128px;
	line-height: 120px;
}
.avatar{ 
	line-height:125px;
}
.avatar img{ 
	box-shadow: 0 1px 3px #1e1e1e;
	-webkit-box-shadow: 0 1px 3px #1e1e1e;
	-moz-box-shadow: 0 1px 3px #1e1e1e;
}




/* Styles for job details page */
.pie-chart {
	display: inline-block;
	margin-left: 25px;
	text-align: center;
}
.pie-chart .caption {
	text-align: center;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: 15px;
}

/* Styles for staff profile photo */
.photo_staff {
	border: 1px solid #ccc;
	background: #eee;
	display: inline-block;
	margin-right: 5px;
}
.photo_2 {
	width: 50px;
	height: 50px;
}
.photo_45 {
	width: 45px;
	height: 45px;
}
