/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);

html,
body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background-image:url(../img/core/body-bg.jpg);
	background-repeat:repeat;
}

/* begin - profile bar */
.profile-bar{ min-height:128px; background-image:url(../img/core/white-glow-under-logo-bg.png); background-repeat:repeat-y; background-position:top left;}
.avatar{ line-height:125px;}
.avatar img{ box-shadow: 0 1px 3px #1e1e1e;-webkit-box-shadow: 0 1px 3px #1e1e1e;-moz-box-shadow: 0 1px 3px #1e1e1e;}

/* begin - nav */
#nav-wrap{ background-image:url(../img/core/nav-texture-bg.png); background-repeat:repeat; background-color:#00bbf8; min-height:49px; border-bottom:1px solid #2fa5cc;}

/* begin - bootstrap overwrites */
.row{ margin-left:0; margin-right:0; padding-left:50px; padding-right:50px;}
.nav > li > a{ padding:14px; color:#fff;border-radius:0; font-size:14px; font-weight:700;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{background-color:transparent;}
.nav .open > a, .nav .open > a:hover{ background-color:#00b1eb;}
.nav .open > a:focus,.nav > li > a:focus{ background-color: transparent;}
.nav > li > a:hover{  background-color:#00b1eb;}
.nav li:hover .dropdown-menu{ display:block;}
.nav-pills>li+li{ margin-left:0;}
.nav a .fa{ font-size:18px; padding-right:10px;}
.dropdown{ text-align:center;}
.dropdown-menu{ margin-top:0; width:100%;}
.nav-pills > li:first-child a{ text-align:left;}
.nav-pills > li:last-child a{ text-align:right;}
.dropdown-menu li a{ text-align:left !important;}
.dropdown-menu .fa{ min-width:45px;}
/* end - bootstrap overwrites */


/* begin - responsive */

/* * 
	responsive for nav
	do not write css for other block here.
	the nav doesn not behave according to default bootstrap settings so custom media tags have been written at various places
 */
 
@media(min-width:1706px){
	.dropdown{ width:15.2%;}
	.nav-pills > li:first-child,.nav-pills > li:last-child{ width:12%;}
}
  
@media(min-width:1275px) and (max-width:1705px){
	.dropdown{ width:14.2%;}	 
}

@media(min-width:1254px) and (max-width:1274px){
	.dropdown{ width:auto;}
	.nav-pills > li{ padding-right:1.2%;}
	.nav-pills > li:last-child{padding-right:0;}  
}

@media(min-width:1236px) and (max-width:1253px){
	.nav-pills > li{ padding-right:0.98%}
	.nav-pills > li:last-child{padding-right:0;} 
}  

@media(min-width:1217px) and (max-width:1236px){
	.nav-pills > li{ padding-right:0.77%}
	.nav-pills > li:last-child{padding-right:0;} 
}  

@media(min-width:1200px) and (max-width:1216px){
	.nav-pills > li{ padding-right:0.5%}
	.nav-pills > li:last-child{padding-right:0;} 
}  

@media(max-width:1158px){
	.nav-pills > li{ padding-right:0;}
	.nav > li > a{ font-size:12px;}
	#nav-wrap{ min-height:39px;}
	.nav > li > a{ padding:10px;}
}


/* * 
	responsive for other contents
 */

/* 15 inch screen */
@media(max-width:1366px){
	.row{ padding-left:10px; padding-right:10px;}
}

/* end - responsive */


/* begin - helpers */
.pull{ float:right;}
.push{ float:left;}
