@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);

body {
  min-height: 2000px;
  /* padding-top: 70px; */
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: url('../img/bg-title.jpg');
}
a {
	cursor: pointer;
}
/* Styles for main navigation */

/* begin - nav */
#nav-wrap{ 
	background-image:url(../img/core/nav-texture-bg.png); 
	background-repeat:repeat; 
	background-color:#00bbf8; 
	min-height:49px; 
	border-bottom:1px solid #2fa5cc;
}

/* begin - bootstrap overwrites */

.row{ 
	margin-left:0; 
	margin-right:0; 
	padding-left:50px; 
	padding-right:50px;
}

.row .row{ padding-left:0; padding-right:0;}

.nav{ 
	margin-left:-10px;
}
.nav > li > a{ 
	padding:14px 10px 14px 10px; 
	color:#fff;
	border-radius:0; 
	font-size:14px; 
	font-weight:700;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color:transparent;
}
.nav .open > a, .nav .open > a:hover{ 
	background-color:#00b1eb;
}
.nav .open > a:focus,.nav > li > a:focus{ 
	background-color: transparent;
}
.nav > li > a:hover{  
	background-color:#00b1eb;
}
.desktop-visible .nav li:hover .dropdown-menu{ 
	display:block;
}
.nav-pills>li+li{ 
	margin-left:0;
}
.nav a .fa{ 
	font-size:18px; 
	padding-right:9px;
	float:left;
}
.dropdown{ 
	text-align:center;
}
.dropdown-menu{ 
	margin-top:0; 
	min-width:200px;
}
.dropdown-menu li a{ 
	text-align:left;
}
.dropdown-menu .fa{ 
	min-width:28px;
}

.navbar-inverse{ 
	background-color:transparent; 
	border-color:transparent;
}
.desktop-hidden{ 
	display: none;
}
.desktop-visible{ 
	display:block;
}


/* end - bootstrap overwrites */

/* *
	15 inch screen 
	make the left and right gutter smaller 
*/

@media(max-width:1200px){
	.row{ 
		padding-left:0; 
		padding-right:0;
	}
}


/* * 
	responsive for nav
	do not write css for other block here.
*/
/* begin - responsive */
@media(max-width:1200px){
	.nav-pills > li{ 
		padding-right:0;
	}
	.nav li a{ 
		font-size:12px;
	}
	#nav-wrap{ 
		min-height:39px;
	}
	.nav{ 
		margin-left:-10px;
	}
	.nav > li > a{ 
		padding:12px 10px 12px 10px;
	}
	.dropdown-menu{ 
		min-width:155px;
	}	
	.nav .fa{ 
		font-size:16px;
	}
}

@media(max-width:992px){
	.dropdown .fa{ 
		display:none;
	}
	.dropdown-menu{ 
		min-width:155px;
	}	
}


/* collapse to phone menu */
@media (max-width:820px){
	.desktop-hidden{ 
		display: block;
	}
	.desktop-visible{ 
		display:none;
	}
	.navbar{ 
		margin-bottom:0; 
		min-height:49px;
	}
	.navbar .col-md-12{ 
		line-height:49px;
	}
	
	/* mobile nav */
	span.mob-menu-head{ 
		font-family:'Lato', sans-serif; 
		color:#fff; 
		font-weight:700;
	}
	.btn-navbar{ 
		float:right; 
		margin-top:8px;
	}
	.dropdown .fa{ 
		display:block;
	}
	.desktop-hidden .nav ul > li{ 
		float:left; 
		width:100%;
	}
	.nav{ 
		padding-bottom:10px; 
		padding-left:10px;
	}
	.nav li a{ 
		font-size:14px;
	}
	.desktop-hidden .dropdown-menu{
		float: left;
		width: 100%;
		position: relative;
	}
	.desktop-hidden .dropdown{ 
		text-align:left;
	}
	.dropdown-menu{ 
		background-color:rgba(255,255,255,0.7); 
		border: none; 
		box-shadow:none;
		-webkit-box-shadow:none;
		margin-bottom: 10px;
		border-radius: 0;
	}
	
	/* logo */
	.logo img{ width:80%;}
}

/* end - responsive */
/* End of Styles for main navigation */

/* Custom styles for nav tab */
.nav-tabs > li a,
.nav-tabs > li a:hover {
	background: #ebebeb;
	border-color: #ccc;
	color: #333;
}
.nav-tabs > li.active a,
.nav-tabs > li.active a:hover {
	color: #fff;
	background: #00b1eb;
	border-color: #00b1eb;
}

/* Custom style for table */
.table thead {
	background: #ededed;
}
.table td.left {
	padding-left: 20px;
}
.table td.right {
	text-align: right;
}
.table td.center, .table th.center {
	text-align: center;
}

.box {
	background-color:rgba(255,255,255,0.5);
	padding: 20px 30px;
	margin-bottom: 25px;
	overflow: hidden;
	clear: both;
	border-radius:8px;
}
.top-box{ margin-top:45px;}
.bottom-box{
	padding:10px;
}

.inner-box{
	padding: 20px 20px;
	background-color:rgba(255,255,255,0.8);	
	border-radius:8px;	
}

.clear {
	clear: both;
}
.box h2 {
	margin-top: 0;
	font-size:40px;
	font-weight:900;
	font-family:'Lato', sans-serif;
	letter-spacing:-1px;
	color:#3d3d3d;
}
.box p{ 
	font-size:16px;
	width:50%;
	font-family:'Lato', sans-serif;
	color:#3d3d3d;
}
.table_action {
	padding: 0 20px;
}
.table_action .nav-tabs {
	border-bottom: 0;
}
.table_action .nav-tabs > li {
	margin-right: 5px;
}
.table_action .btn.pull-right {
	margin-left: 5px;
}
.btn i {
	margin: 0 3px;
}
.btn-core {
	background: #35c0ed;
	color: #fff;
}
.btn-core:hover {
	background: #00b1eb;
	color: #fff;
}


@media(max-width:1200px){
	.box p{ 
		font-size:16px;
		width:100%;
	}
}

@media (min-width:1200px){
	.container{
		width:100%;
	}

}
@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
}



/* begin - helpers */
.pull{ 
	float:right;
}
.push{ 
	float:left;
}

