/* CSS Document */
@import url("core.css");



/* Styles for job details page */
.pie-chart {
	display: inline-block;
	margin-left: 25px;
	text-align: center;
}
.pie-chart .caption {
	text-align: center;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: 15px;
}

/* Style for calendar / week view */
a.default {
	color: rgb(61, 61, 61);
}

/* Style for calendar / month view */
#wrapper_calendar #calendar {
	margin-top: -10px;
}

/* Style for pay rate table */
#payrate_data th.odd {
	background: #fff;
}
#payrate_data .input-group-addon {
	padding: 6px;
}
#payrate_data .input-sm {
	padding: 5px;
	text-align: center;
	min-width: 50px;
}
.input-staff {
	background: #deffd5;
}
.selectable .ui-selecting.input-sm,
.selectable .ui-selected.input-sm {
	background: #666;
	border-color: #666; 
	color: white; 
}

/* Styles for staff profile photo */
.photo_staff {
	border: 1px solid #ccc;
	background: #eee;
	display: inline-block;
	margin-right: 5px;
}
.photo_2 {
	width: 50px;
	height: 50px;
}
.photo_45 {
	width: 45px;
	height: 45px;
}

/* Styles for form builder */
.form-builder .col-md-6{
	padding-left:0;	
}
#build{ 
	min-height:400px;
	border:1px solid #dddddd;
	border-radius:4px;
}
#build .dropped{
	float:left;
	width:100%;	
}
.right{
	right: -235px;
	top: -80px;
}
.popover{ 
	left:auto;
}

.custom-attributes .tab-pane .component{ 
	padding:10px 0;
	float:left;
	width:100%;
}
.custom-attributes .controls,
.custom-attributes .tab-pane .controls{ 
	width:75%;
	float:left;
}
.custom-attributes .control-group,
.custom-attributes .tab-pane .control-group{ 
	margin:10px;
}
.custom-attributes .control-label,
.custom-attributes .tab-pane .control-label{
	float: left;
	padding-top: 5px;
	text-align: left;
	width:25%;
	float:left;
}
.custom-attributes .popover{
	max-width:240px;	
}
.custom-attributes .popover-content .btn{
	margin-right: 10px;
}
.custom-attributes .popover-content .control-label{
	padding:6px 0 3px 0;
}
.custom-attributes .popover-content .controls{
	width:100%;
	float:none;	
}
.ui-draggable-helper {
	 border: 1px solid #dddddd;
	 background: #fff;
	 box-shadow: 10px 10px 5px #dddddd;
}
.radio{ 
	 margin-bottom:6px;
}
.has-pretty-child{ 
	line-height:30px;
	float:left;
	width:100%;
	margin-top:0;
}
.prettycheckbox, .prettyradio{
	float:left;
}
.radio.inline, .checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
	margin-top:0;
	padding-right:10px;
	width:auto;
}
.form-builder-save-btn{
	margin-top:10px;
	float:right;	
}

.drag-icon-box{
	float:left;
	min-height:398px;
	background-color:#f1f1f1;
	width:100%;
}
.drag-icon-box .drag-icons{
	float:left;
	width:100%;
	text-align:center;
	margin-top:155px;
}
.drag-icon-box .drag-icons .fa{
	color:#969696;
	font-size:46px;
	padding:0 5px;
}
.drag-icon-box span{
	display:block;
	font-size:16px;
	color:#969696;
	width: 100%;
	float: left;
	text-align: center;
}


/* style for staff profile */
.staff-profile-detail-box{
	margin-top:30px;
	margin-bottom:30px;
}
.super_attached{
	padding-left:20px;
}

/* style for staff availability */
.attr-list-wrap{
	margin-top:20px;	
}

.checkbox-sm{
	margin-right:5px!important;
}
.available-color{
	background:#DFF0D8;
}
.unavailable-color{
	background:#F2DEDE;
}



/* style for staff availability */


/* begin responsive */
@media(max-width:1200px){
	.row{ 
		padding-left:0; 
		padding-right:0;
	}
}

/* system right hand side fixed buttons */
#sys-fixed-btns{
	position: fixed;
	right: 0;
	top: 250px;
	width:46px;
}
.sys-rt-btn{
	margin-bottom:6px;
	border-radius: 6px 0 0 6px;
	padding:10px 10px 8px 10px;
	-webkit-box-shadow:2px 2px 6px rgba(0, 0, 0, 0.3);
		box-shadow:2px 2px 6px rgba(0,0,0, 0.3);	
}
.sys-rt-btn .fa{
	font-size:20px;	
}

/* phone menu activates at this point */
@media (max-width:820px){
	.avatar {
		position: absolute;
		right: 15px;
		margin-top: -26px;
	}
	.avatar img{
		width:50px;
		border-radius:50%;
	}
	.logo{
		width:50%;	
	}
	.profile-menu{
		width:50%;	
		padding-right:12px;
	}
	.profile-menu ul{
		width:auto;
		margin-top:80px;
		text-align:right;
	}
	.profile-menu ul li a span{
		display:none;	
	}
	.profile-menu ul li a .fa{
		font-size:30px;
		padding-right: 2px;
		padding-left: 20px;
	}
	.profile-menu ul li{	
		width:auto;
	}
	.li-seprator{
		display:none;
	}
	.message-badge{
		margin-top: 36px;
		right: 80px;
		text-align: center;	
	}
	.message-badge .fa-caret-right{
		display:none;	
	}
	.message-badge .fa-caret-down{
		display:block;	
	}
	.logo img{
		padding-left: 10px;	
	}
}

@media (max-width:490px){
	.logo img{
		width:100%;
		vertical-align: bottom;
		margin-bottom: 15px;
	}
	.profile-menu ul li a .fa{
		font-size:26px;
		padding-left:5px;	
	}
	.message-badge{
		right:55px;	
	}
}

@media (max-width:320px){
	.avatar{
		display:none;	
	}
	.message-badge{
		margin-top:10px;	
	}
	.profile-menu ul{
		margin-top:52px;	
	}
	
	.logo{
		min-height: 92px;
		line-height: 92px;	
	}

	.profile-menu ul li a .fa{
		padding-left:2px;	
	}

}	
/* end responsive */

/* Styles fdr search staff profile photo */
.staff_search_profile
{
	float:left;
}
.profile_photo
{		
	margin-right:10px;	
	width:72px;
	height:72px;
}

.resize{
	width:100%;
	
}
#wp_field_select_areas {
}

/* Styles for Job board / popover */
#form_update_shift_staff #f_shift_staff {
	margin-right: 10px;
}
.error{
	border-color:#F00;	
}

