/* CSS Document */
@import url("core.css");
html,
body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background-image:url(../img/core/body-bg.jpg);
	background-repeat:repeat;
}

/* begin - profile bar */
.profile-bar{ 
	min-height:128px; 
	background-image:url(../img/core/white-glow-under-logo-bg.png); 
	background-repeat:no-repeat; 
	background-position:top left;
}
.logo{ 
	float:left;
	min-height: 128px;
	line-height: 120px;
}
.avatar{ 
	line-height:125px;
}
.avatar img{ 
	box-shadow: 0 1px 3px #1e1e1e;
	-webkit-box-shadow: 0 1px 3px #1e1e1e;
	-moz-box-shadow: 0 1px 3px #1e1e1e;
}



/* begin responsive */
@media(max-width:1200px){
	.row{ 
		padding-left:0; 
		padding-right:0;
	}
}
/* end responsive */