.wp-page-invoice {
	background: #fff;
	box-shadow: 0 4px 10px #aaa;
	margin: 40px -10px 0 -10px;
	padding: 40px 60px;
}
.wp-page-invoice .charge-box-header {
	background: #25c2f2;
	color: #fff;
}
.wp-page-invoice .charge-box-body {
	background: #eee;
}
.indent {
	padding-left: 20px;
}
.nav li.disabled a,
.nav li.disabled a:hover {
	color: #fff;
}