/* CSS Document */
@import url("core.css");

/* Style for calendar / week view */
a.default {
	color: rgb(61, 61, 61);
}

.cal-row-fluid.cal-roster:hover {
	background: #eee;
}
/* Style for calendar / month view */
#wrapper_calendar #calendar {
	margin-top: -10px;
}
#wrapper_js {
	margin-top: 20px;
}
/* Style for pay rate table */
#payrate_data th.odd {
	background: #fff;
}
#payrate_data .input-group-addon {
	padding: 6px;
}
#payrate_data .input-sm {
	padding: 5px;
	text-align: center;
	min-width: 50px;
}
.input-staff {
	background: #deffd5;
}
.selectable .ui-selecting.input-sm,
.selectable .ui-selected.input-sm {
	background: #666;
	border-color: #666;
	color: white;
}
.flexslider{
	padding:10px !important;
}
.flex-li{
	cursor:pointer;
}
.staff-profile-hero-wrap{
	margin-bottom:20px;
}
/* Styles for staff profile photo */
.photo_staff {
	border: 1px solid #ccc;
	background: #eee;
	display: inline-block;
	margin-right: 5px;
}
.photo_2 {
	width: 50px;
	height: 50px;
}
.photo_45 {
	width: 45px;
	height: 45px;
}

.label-search-job {
	width: 220px;
}

/* Styles for form builder */
.form-builder .col-md-6{
	padding-left:0;
}
#build{
	min-height:400px;
	border:1px solid #dddddd;
	border-radius:4px;
	float: left;
	width:100%;
}
.build-bottom-padding{
	padding-bottom:20px;
}
#build .dropped{
	float:left;
	width:100%;
	margin-bottom: 10px;
}
.right{
	right: -235px;
}
.popover{
	left:auto;
}

.custom-attributes .tab-pane .component{
	padding:10px 0;
	float:left;
	width:100%;
}
.custom-attributes .controls,
.custom-attributes .tab-pane .controls{
	width:75%;
	float:left;
}
.custom-attributes .control-group,
.custom-attributes .tab-pane .control-group{
	margin:10px;
}
.custom-attributes .control-label,
.custom-attributes .tab-pane .control-label{
	float: left;
	padding-top: 5px;
	text-align: left;
	width:25%;
}
.custom-attributes .popover{
	max-width:240px;
	float:left;
	padding-bottom:15px;
}
.custom-attributes .popover hr{
	float:left;
	width:100%;
}
.custom-attributes .popover-content .btn{
	margin-right: 10px;
	float:left;
}
.btn-myob,
.btn-myob:hover {
	background: #6548b5;
	color: #fff;
}
.btn-xero,
.btn-xero:hover {
	background: #00b9e7;
	color: #fff;
}
.btn-delete-field {
	float: right;
	height: 30px;
	position: relative;
	margin-bottom: -30px;
	z-index: 1000;
}
.custom-attributes .popover-content .control-label{
	padding:6px 0 3px 0;
	width:100%;
	text-align:left;
}
.custom-attributes .popover-content .controls{
	width:100%;
	float:none;
}
.custom-attributes .popover-content .form-control{
	float:left;
	width:100%;
}
.custom-inline,
.custom-attributes .inline{
	width: auto !important;
	padding-top: 0 !important;
	line-height: 20px !important;
	float: left;
	padding-right: 10px;
}
.ui-draggable-helper {
	 border: 1px solid #dddddd;
	 background: #fff;
	 box-shadow: 10px 10px 5px #dddddd;
	 float:left;
	 width:100%;
	 display:block;
	 min-height:100px;
}
.radio{
	 margin-bottom:6px;
}
.has-pretty-child{
	line-height:30px;
	float:left;
	width:100%;
	margin-top:0;
}
.prettycheckbox, .prettyradio{
	float:left;
}
.checkbox.no-margin {
	margin: 0;
}
.radio.inline, .checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
	margin-top:0;
	padding-right:10px;
	width:auto;
	float:left;
	line-height:30px;
	/* width:100%; */
}
.form-builder-save-btn{
	margin-top:10px;
	float:right;
}

.drag-icon-box{
	float:left;
	min-height:398px;
	background-color:#f1f1f1;
	width:100%;
}
.drag-icon-box .drag-icons{
	float:left;
	width:100%;
	text-align:center;
	margin-top:155px;
}
.drag-icon-box .drag-icons .fa{
	color:#969696;
	font-size:46px;
	padding:0 5px;
}
.drag-icon-box span{
	display:block;
	font-size:16px;
	color:#969696;
	width: 100%;
	float: left;
	text-align: center;
}
.custom-file-delete{
	padding-left:10px;
	cursor:pointer;
}



/* style for staff profile */
.super_attached{
	padding-left:20px;
}



.box_credits {
	box-shadow: 0 1px 4px #ccc;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
	min-width: 200px;
	margin-bottom:15px;
}
.box_credits.pull-right {
	margin-left: 15px;
}
.box_credits .title_bc {
	background: #00B1EB;
	color: #fff;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	text-align: center;
	margin: 0;
}
.box_credits .content_bc {
	background: #eee;
	border-radius: 0 0 5px 5px;
	text-align: center;
	margin: 0;
	padding: 10px 0;
}
.box_credits .content_bc h2 {
	margin: 0;
	padding: 0;
}
.dash-btn-box{
	float: right;
	position: absolute;
	right: 20px;
	margin-top: 34px;
}
.dash-btn-box span{
	display:inline-block;
	margin-right:10px;
}
/* style for company profile */
.company-profile-detail-box{
	margin-top:30px;
	margin-bottom:30px;
}
.company-profile-header-first {
	margin-top:20px!important;;
	margin-bottom:20px!important;;
	font-weight:900!important;
}
.company-profile-header-middle {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 900;
}
.company-profile-header {
	margin-top:40px!important;;
	margin-bottom:20px!important;;
	font-weight:900!important;
}
/* style for email template */
.email-merge-fields-wrap{
	min-height:600px;
}
.email-template .control-label{
	margin-left:0px!important;
	padding-left:0px!important;
	line-height:30px;
}

.email-template .break-25{
	height:25px;
}


.email-template .last-right{
	padding-right:0px!important;
	padding-left:0px!important;
}


.email-template .first-left{

	padding-left:0px!important;
}
.email-template .email-template-title{
	margin-top:20px;
}
.email-template .white-bg{
	background:#FBFBFB;
	border-radius:10px;
	border:1px solid #e8e8e8;
	padding: 20px 15px 20px 35px;
	margin-top:0px;
}
.email-template .desc-item{
	float:none;
}
.email-template .first-item{
	float:left;
	width:200px;
}
.email-template .second-item{
	float:left;
}
.email-template .clear{
	clear:both;
}
.email-template .title-item{
	padding-top:20px;
}
.email-template .template-item{
	cursor:pointer;
}
.email-footer-preview-wrap{
	border:1px solid #dfdfdf;
	background:#fbfbfb;
	border-radius:3px;
	font-size:11px;
	padding:15px;
}
.email-modal-receiver-list{
	margin-top:20px;
	max-height:200px;
	overflow:auto;
	float:left;
	width:100%;
}
/* Styles fdr search staff profile photo */
.staff_search_profile{
	float:left;
}
.profile_photo{
	margin-right:10px;
	width:72px;
	height:72px;
}

.resize{
	width:100%;
}
#wp_field_select_areas {
}
.toggle-custom-attrs .fa{
	padding-right:10px;
}

/* Styles for Job board / popover */
#form_update_shift_staff #f_shift_staff {
	margin-right: 10px;
}

.search-staff-avatar-img .profile_photo{
	width:45px;
	height:45px;
	margin-right:0;
}
.search-staff-avatar-img img{
	height:45px;
	width:45px;
}
.search-staff-avatar-img .default-avatar-photo{
	height:45px;
	width:45px;
	margin-top:0;
	line-height:45px;
}
.search-staff-avatar-img .default-avatar-photo .fa{
	font-size: 35px;
	line-height: 45px;
}
#menu-search-client-result-action,
#menu-search-staff-result-action{
	/* top:41px;
	margin-bottom:41px;	 */
}
.staff-search-result-table>tbody>tr:hover>td, .staff-search-result-table>tbody>tr:hover>th{
	background-color:transparent;
}

/* modal */
.modal-body iframe {
	border: 0;
}
.contact-modal{
	width:1000px
}
.contact-modal a.contact-staff-tab-head{
	padding-right:30px;
	padding-left:30px;
}
.staff-contact-modal-body .tab-content{
	margin-top:15px;
}
.sample-email-btn{
	background-color:#35c0ed;
	background-image:url(../img/core/nav-texture-bg.png);
	background-repeat:repeat;
	color:#fff;
	border-radius:0;
}
.sample-email-btn:hover{
	background-image:none;
}
.staff-contact-modal-body .control-label{
	line-height: 32px;
}


/* Admin Dash */
.dash-invoice-stat-wrap{
	margin-top: -15px;
	margin-right: -25px;
	float: right;
	margin-bottom: 0;
	padding:10px 10px 20px 10px;
	width:100%;
}
.dash-box-paddings{
	padding:20px 30px 5px 30px;
}
span.dash-invoice-head{
	font-size:18px;
	font-weight:800;
	padding-left:10px;
}
.invoice-head-wrap{
	float:left;
	width:100%;
}
hr.dash-invoice-hr{
	margin-top: 5px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.invoice-row{
	float:left;
	width:100%;
}
a.invoice-pay-now{
	font-size:16px;
	float: right;
	padding-right: 15px;
}
span.dash-invoice-label{
	font-size:13px;
	font-weight:600;
}
span.dash-invoice-value{
	font-size:13px;
	font-weight:800;
	text-align:right;
}
.text-custom-danger{
	color:#d60002;
}
/* dash daily stats */
.dash-daily-stats-row{
	background-color:#f1f1f1;
	margin-bottom:2px;
}
.dash-stats-fa-icons{
	padding-right:10px;
}
.counter {
	margin: 6px 0 0 6px;
	position: relative;
	display: block;
	float: left;
}

.counter-label {
	font-size: 16px;
	line-height: 42px;
	margin-left: 75px;
	font-weight:600;
}
.counter.small span,
.counter-separated.small span {
	height: 30px;
	line-height: 26px;
	font-size: 20px;
}
.counter span,
.counter-separated span {
	display: inline-block;
	border: 1px solid #333;
	color: #fff;
	font-size: 27px;
	font-weight: 700;
	height: 32px;
	line-height: 32px;
	padding: 0 6px 2px 6px;
	text-align: center;
	text-shadow: rgba(0,0,0,0.7) 0 -1px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(255,255,255,0.7) 0 1px 0,rgba(255,255,255,0.2) 0 1px 0 inset;
	-moz-box-shadow: rgba(255,255,255,0.7) 0 1px 0,rgba(255,255,255,0.2) 0 1px 0 inset;
	box-shadow: rgba(255,255,255,0.7) 0 1px 0,rgba(255,255,255,0.2) 0 1px 0 inset;
	background-color: #4e4e4e;
	background-image: -moz-linear-gradient(top,#555,#444);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#555),to(#444));
	background-image: -webkit-linear-gradient(top,#555,#444);
	background-image: -o-linear-gradient(top,#555,#444);
	background-image: linear-gradient(to bottom,#555,#444);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff444444',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.counter.small span:before,
.counter-separated.small span:before {
	top: 14px;
}
.counter span:before,
.counter-separated span:before {
	background: #333;
	content: " ";
	display: block;
	font-size: 0;
	height: 1px;
	left: -6px;
	padding: 0 6px;
	position: relative;
	top: 16px;
	width: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0;
	box-shadow: rgba(255,255,255,0.1) 0 1px 0;
}

/* brief */
.create-new-brief{
	margin-bottom:40px;
}
.brief-elements-edit-wrap{
	display: none;
	width: auto;
	position: absolute;
	margin-top: -64px;
	right: 33px;
}
.brief-preview-row:hover{
	background:#e9e9e9;
}
.brief-preview-row:hover .brief-elements-edit-wrap{
	display:block;
}
.add-brief-to-shift-modal-form{
	margin-top:20px;
}
.add-brief-to-shift-select-wrap .select2-container{
	margin-right:10px;
	width:50%;
}
.modal-applicant .img-thumbnail {
	max-height: 100px;
	margin: 10px 10px 10px 0;
}
/* system styles */
.system-styles-label{
	line-height:34px;
	font-weight:600;
}
.dash-ts-btn{
	margin-right: 10px;
	margin-bottom: 3px;
}
/* begin responsive */
@media(max-width:1200px){
	.row{
		padding-left:0;
		padding-right:0;
	}
}


@media(max-width:992px){
	.dash-invoice-stat-wrap{
		float:left;
		margin-top:0;
 		margin-right:0;
	}
	span.dash-invoice-label{
		width: 50%;
		display: inline-block;
	}
	span.dash-invoice-value {
		display: inline-block;
		width: 50%;
	}
	.dash-credit-box{
		float:left !important;
		margin-top:15px;
	}
}


/* end responsive */


.search-staff-avatar-img .profile_photo{
	width:45px;
	height:45px;
	margin-right:0;
}
.search-staff-avatar-img img{
	height:45px;
	width:45px;
}
.search-staff-avatar-img .default-avatar-photo{
	height:45px;
	width:45px;
	margin-top:0;
	line-height:45px;
}
.search-staff-avatar-img .default-avatar-photo .fa{
	font-size: 35px;
	line-height: 45px;
}
.staff-search-result-table>tbody>tr:hover>td, .staff-search-result-table>tbody>tr:hover>th{
	background-color:transparent;
}

#template-preset .wp-fields {
	padding: 7px;
	background:#eee;
	border: 1px solid #ccc;
	border-bottom:0;
}
#loadingModal {
	text-align: center;
	background: url('../img/bg_disabled.png');
}
#loadingModal img {
	top: 30%;
	position: absolute;
}
.modal-form .row {
	padding: 0;
}
.modal-form .col-md-7 {
	padding-left: 0;
}
.modal-form .col-md-5 {
	padding-right: 0;
}
#shift-search-staff-results {
}
.font-weight-600{
	font-weight:600;
}
#chart-incompleted-shifts {
	margin-top: -20px;
	margin-bottom: -26px;
	height: 125px;
	width: 150px;
	margin-right: 30px;
	text-align: center;
}
/* Styles for job details page */
.pie-chart {
	display: inline-block;
	text-align: center;
	margin-right: 40px;
}
.pie-chart .caption {
	text-align: center;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: 15px;
	z-index: 100;
	position: relative;
}
.add-top-margin-20{
	margin-top:20px;
}

#staff_quick_search_result .profile_photo img{
	width:48px;
	height:48px;
}
#staff_quick_search_result .profile_photo{
	width:48px;
	height:48px;
}
#staff_quick_search_result .profile_photo .default-avatar-photo{
	width:48px;
	height:48px;
	line-height:48px;
	margin-top:0;
}
#staff_quick_search_result .profile_photo .default-avatar-photo > .fa{
	font-size:40px;
	line-height:40px;
}

#list-tasks .list-group-item h3 {
	margin: 0;
	padding: 10px 0;
	font-weight: 600;
}
#form-fields .label {
	cursor: pointer;
}
.table-fields {
	margin: 10px 0 0 0;
}
.label-required {
	margin:0 5px 0 7px;
}
#setup_wizard {
	margin-bottom: -20px;
}
#setup_wizard .wp_wizard {
	float: left;
	margin-top: 10px;
}
#setup_wizard .wp_wizard hr {
	border: 3px solid #ddd;
	margin-bottom: -33px;
	margin-right: 50px;
	margin-left: 50px;
}
#setup_wizard .wp_wizard .steps {
	position: relative;
	z-index: 100;
}
#setup_wizard .wizard_step {
	float: left;
	text-align: center;
	display: block;
	width: 150px;
}
#setup_wizard .wizard_step.first-child {
	width: auto;
	margin-right: 10px;
}
.step_label {
	padding: 10px 0;
	text-align: center;
}

#shifts_badge .shift_badge {
	float: left;
	margin-top: 10px;
	text-align: center;
	margin-right: 60px;
}
#shifts_badge .shift_badge.first-child {
	width: auto;
	margin-right: 30px;
}

.c1 {
	margin: auto;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 50px;
	background: #ccc;
	border-radius: 30px;
	border: 10px solid #ddd;
}
.c1.current {
	background: orange;
}
.c1.done {
	background: green;
}