@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);
@import url("bootstrap-social.css");
body {
	padding-top: 100px;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background-image:url(../img/core/body-bg.jpg);
	background-repeat:repeat;
}

.logo-wrap{
	background-color: rgba(255,255,255,1);
	border-radius: 6px;
	text-align: center;
	padding: 15px 0;	
}

.login-row{
	max-width: 450px;
	margin: 0 auto 20px;
}

.login-form{
	margin-top:15px;	
}
.form-signin {
	padding:15px;
	background-color:rgba(255,255,255,0.5);
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	border-radius:0;
	font-family:'Lato', sans-serif;
}
button.btn-info {
	background: #00bbf8;
}
i {
	margin-right: 5px;
}
.pull{
	float:right;	
}
.btn-social{
	margin-bottom:15px;	
}
.btn-facebook{
	background: -webkit-linear-gradient(rgba(112,134,184,0.75), rgba(69,94,135,1)); /*Safari*/
	background: -o-linear-gradient(rgba(112,134,184,0.75), rgba(69,94,135,1)); /*Opera 11-12*/
	background: -moz-linear-gradient(rgba(112,134,184,0.75), rgba(69,94,135,1)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(112,134,184,0.75), rgba(69,94,135,1)); /*Standard*/
	border-color:rgba(80,96,130,1);
}
.btn-linkedin{
	background: -webkit-linear-gradient(rgba(131,196,221,0.75), rgba(8,116,167,1)); /*Safari*/
	background: -o-linear-gradient(rgba(131,196,221,0.75), rgba(8,116,167,1)); /*Opera 11-12*/
	background: -moz-linear-gradient(rgba(131,196,221,0.75), rgba(8,116,167,1)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(131,196,221,0.75), rgba(8,116,167,1)); /*Standard*/
	border-color:rgba(0,118,145,1);
	margin-bottom:0;
}
.forgot-password{
	display:block;
	color:#00bbf8;
	font-size:15px;
	font-weight:600;
	float:right;
	margin-top:20px;
	cursor:pointer;	
}

.forgot-password:hover{
	color:#00bbf8;
}

.modern-browsers{
	text-align:center;	
	margin-top:40px;
}

.modern-browsers p{
	font-size:14px;
	width: 78%;
	margin: 15px auto;
}

@media (max-width: 992px){
	.col-md-6{
		width:50%;
		float:left;	
	}
}


@media(max-width:480px){
	.logo-wrap img{
		width:80%;
	}
	.modern-browsers img{
		width:auto;
	}
	.modern-browsers p{
		width: 100%;
	}
}
