/* CSS Document */
@import url("core.css");


.box {
	background: #fff;
	border-radius: 5px;
}
.box.loading {
	background: url(../img/bg_disabled.png);
}
h2 {
	margin-top: 0;
	font-size:40px;
	font-weight:900;
	font-family:'Lato', sans-serif;
	letter-spacing:-1px;
	color:#3d3d3d;
}
.wp_loading {
	margin-top: 20px;
	width: 50px;
	height: 50px;
	line-height: 50xp;
	text-align: center;
}
.fa-done {
	color: #35c0ed;
}
#redirectModal .modal-content {
	padding: 30px 50px;
}