#wrapper_shift_break {
	display: none;
}
.popover.popover-break {
	max-width: 800px;
}
.editable-breaks {
	margin-bottom: 5px;
	overflow: hidden;
	clear: both;
	display: block;
}
.editable-breaks input.form-control {
}
.editable-breaks .wp_break_length {
	float: left;
}
.editable-breaks .wp_break_start_at {
	float: left;
	margin: 0 5px;
}
.editable-breaks .control-label {
	float: left;
	margin: 0 10px;
}
.popover-break .btn {
	margin: 5px 5px 10px 0;
}
