.select2-container-multi .select2-choices .select2-search-field input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 28px;
    padding: 6px 8px;
    width: 260px;
}

.select2-container, .select2-drop, .select2-search, .select2-search input {
    -moz-box-sizing: border-box;
}
.selectMultiple {
    width: 100%;
}
.select2-container {
    display: inline-block;
    position: relative;
}
.select2-container-multi .select2-choices {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DADADA;
    cursor: text;
    height: auto !important;
    margin: 0;
	marin-left:5px!important;
    min-height: 26px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 100%;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none outside none;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background: none repeat scroll 0 0 #CDE69C;
    border: 1px solid #A5D24A;
    color: #638421;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 13px;
    margin: 5px;
    padding: 6px 8px 5px 22px;
    position: relative;
    white-space: nowrap;
	marin-left:15px!important;
	
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none outside none;
}
.select2-container-multi .select2-choices .select2-search-choice {
    color: #638421;
    font-size: 11px;
    line-height: 13px;
    white-space: nowrap;
}
.select2-container-multi .select2-choices li {
    list-style: none outside none;
}
.select2-container-multi .select2-search-choice-close {
    left: 7px;
}
.select2-search-choice-close {
    background: url("closeSelection.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    height: 6px;
    outline: medium none;
    position: absolute;
    top: 9px;
    width: 6px;
}

.select2-drop {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 0 0 2px 2px;
    color: #000000;
    font-size: 11px;
    margin-top: -1px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9998;
}
.select2-results li.select2-result-with-children > .select2-result-label {
    color: #303030;
    font-weight: bold;
}
.select2-results .select2-result-label {
    cursor: pointer;
    margin: 0;
    padding: 3px 7px;
}

.select2-results .select2-result-label {
    cursor: pointer;
    margin: 0;
    padding: 3px 7px;
}

.select2-results ul.select2-result-sub > li .select2-result-label {
    padding-left: 20px;
}